<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">
<h:head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Error</title>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="/resources/css/error.css" />


</h:head>
<body>

<div id="error">
    <div class="error">
        <div class="error-a">
            <h1>Oops!</h1>
            <h2>000 - Something wrong</h2>
        </div>
        <a href="/WelcomePage.jsf">Go TO Homepage</a>
    </div>
</div>

</body>

</html>

