
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:view>
        <h:head>
                <title>Choose a profile picutre of the flat</title>
        </h:head>
        <form method="POST" action="upload" enctype="multipart/form-data" >
                Picture:
                <input type="file" name="file" id="file" />
                <input type="hidden" id="id" name="id" value="#{flatJsfService.id}"></input>
                <input type="submit" value="Upload" name="upload" id="upload" />
        </form>

</f:view>

</html>
