<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">
<h:head>
    <link href="/resources/css/style.css" rel="stylesheet" type="text/css" />

    <link href="/resources/bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="/resources/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>

</h:head>
<body>

<div id="page" class ="page">

    <div id="header-container" class="header">

<nav class="navbar navbarstyle ">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#myNavbar" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/WelcomePage.jsf">Pécsment</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left">
            <li class="navbar-item"><a href="/WelcomePage.jsf">Home</a></li>

            <li><a href="search.jsf">Searching flats</a></li>


            <li><a href="#">News</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-content">
                    <li><a href="#">Who are we?</a></li>
                    <li><a href="#">How to contact us?</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-login" ><h:link outcome="login.xhtml" rendered="#{pageJsfService.isUser()=='false'}"><span class="glyphicon glyphicon-log-in" ></span>  SignUp or Login </h:link></li>

            <h:form styleClass="form-profile">
                <p:menuButton value="Profile" styleClass="smth profile-main" rendered="#{pageJsfService.isUser()=='true'}" >
                    <p:menuitem value="My Page"  rendered="#{pageJsfService.isConsumer()=='false'}" action="/profLandlordPage.xhtml" styleClass="profile-content" />
                    <p:menuitem value="My Page"  rendered="#{pageJsfService.isConsumer()=='true'}" action="/profConsumerPage.xhtml" styleClass="profile-content" />
                    <p:menuitem value="New Flat" rendered="#{pageJsfService.isConsumer()=='false'}" action="/createFlat.xhtml" styleClass="profile-content"  />
                    <p:separator />
                    <p:menuitem value="Log out" action="#{pageJsfService.logout()}" styleClass="profile-content" />
                </p:menuButton>
            </h:form>


        </ul>
    </div>
</div>
</nav>

    </div>


    <div id="content-container" class="content">
        <div id="content">
            <ui:insert name="content">Default Title</ui:insert>

            <h:outputStylesheet name="bootstrap-3.4.1-dist/css/bootstrap.min.css"/>

        </div>

    </div>
    <div id="footer-container" class="footer-container">
        <div id="footer" class="footer">
            <ui:insert name="footer">

                <p>All rights reserved by noone</p>
            </ui:insert>
        </div>
    </div>

</div>
</body>

</html>