<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
>

<h:head>
    <link href="/resources/css/choose.css" rel="stylesheet" type="text/css" />
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"/>
</h:head>
<h:body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <a class="navbar-brand" href="#">Pécsment</a>
                    </div>
                </div>

                <div class="user_card_content">

                    <div class="d-flex justify-content-center form_container">
                        <h:form>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <h:commandButton id="registerLandlord" styleClass="btn login_btn" value="Landlord" action="#{landlordJsfService.redirectToLandlordRegistration()}"/>
                            </div>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <h:commandButton id="registerConsumer" styleClass="btn login_btn" value="Consumer" action="#{consumerJsfService.redirectToConsumerRegistration()}"/>
                            </div>

                        </h:form>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Already have an account? <a href="login.jsf" class="ml-2">Sign in</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</h:body>
</html>
