<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
    <link href="/resources/css/style.css" rel="stylesheet" type="text/css" />

    <link href="/resources/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</h:head>

<h:body>

    <ui:composition template="layout.xhtml">

        <ui:define name="script"><h:outputScript library="js" name="jquery-3.5.1.min.js"/> </ui:define>

        <ui:define name="content">
            <h:form>

            <div class="search-container">
                <div class="row">
                    <div class="col-sm-2">
                        <h:inputText a:placeholder="City" styleClass="search-input" value="#{flatJsfService.city}"> </h:inputText>
                    </div>
                    <div class="col-sm-1">
                        <h:commandButton value="Search" styleClass="search_btn" action="#{flatJsfService.searchFlat()}"></h:commandButton>
                    </div>
                    <div class="col-sm-1">
                        <p:commandButton id="advanced" value="Advanced" styleClass="advancedBtn" type="button" />

                    </div>
                    <div class="col-sm-8">
                        <p:overlayPanel id="advancedPanel" for="advanced" styleClass="advancedContext" hideEffect="fade">

                            <h:panelGrid columns="1" style="margin-bottom: 10px">
                                <h:outputText id="displayRange" value=" Price Between #{flatJsfService.priceLess} and #{flatJsfService.priceGreater}" />
                                <p:slider minValue="0" maxValue="300000" for="txt6,txt7" display="displayRange" style="width: 400px" range="true" displayTemplate="Between {min} and {max}" />
                            </h:panelGrid>
                            <h:inputHidden id="txt6" value="#{flatJsfService.priceLess}" />
                            <h:inputHidden id="txt7" value="#{flatJsfService.priceGreater}" />

                            <h:panelGrid columns="1" style="margin-bottom: 10px">
                                <h:outputText id="displayutitlitiesRange" value=" Utilitiy Between #{flatJsfService.priceLess} and #{flatJsfService.priceGreater}" />
                                <p:slider minValue="0" maxValue="200000" for="utility1,utility2" display="displayutitlitiesRange" style="width: 400px" range="true" displayTemplate="Between {min} and {max}" />
                            </h:panelGrid>
                            <h:inputHidden id="utility1" value="#{flatJsfService.untilityLess}" />
                            <h:inputHidden id="utility2" value="#{flatJsfService.untilityGreater}" />

                            <h:panelGrid columns="1" style="margin-bottom: 10px">
                                <h:outputText id="rooms" value=" Room number Between #{flatJsfService.priceLess} and #{flatJsfService.priceGreater}" />
                                <p:slider minValue="0" maxValue="20" for="room1,room2" display="rooms" style="width: 400px" range="true" displayTemplate="Between {min} and {max}" />
                            </h:panelGrid>
                            <h:inputHidden id="room1" value="#{flatJsfService.roomsLess}" />
                            <h:inputHidden id="room2" value="#{flatJsfService.roomsGreater}" />

                            <h:selectOneMenu value="#{flatJsfService.rentORbuy}" styleClass="list-menu col-sm-3">
                                <f:selectItem itemValue="#{null}" noSelectionOption="true" itemLabel="Rent/Sell" />
                                <f:selectItem itemValue="true" itemLabel="Rent" />
                                <f:selectItem itemValue="false" itemLabel="Sell" />
                            </h:selectOneMenu>

                            <h:selectOneMenu value="#{flatJsfService.furnished}" styleClass="list-menu col-sm-3">
                                <f:selectItem itemValue="#{null}" noSelectionOption="true" itemLabel="Furniture" />
                                <f:selectItem itemValue="true" itemLabel="Furnished" />
                                <f:selectItem itemValue="false" itemLabel="Empty" />
                            </h:selectOneMenu>
                            <h:selectOneMenu value="#{flatJsfService.renovated}" styleClass="list-menu col-sm-3">
                                <f:selectItem itemValue="#{null}" noSelectionOption="true" itemLabel="New" />
                                <f:selectItem itemValue="true" itemLabel="Renovated" />
                                <f:selectItem itemValue="false" itemLabel="Old" />
                            </h:selectOneMenu>

                            <h:selectOneMenu value="#{flatJsfService.wifi}" noSelectionOption="true" styleClass="list-menu col-sm-3">
                                <f:selectItem itemValue="#{null}" itemLabel="Wifi" />
                                <f:selectItem itemValue="true" itemLabel="Yes" />
                                <f:selectItem itemValue="false" itemLabel="No" />
                            </h:selectOneMenu>

                            <p:calendar id="event" value="#{flatJsfService.availableFrom}"  pattern="yyyy.MM.dd" placeholder="yyyy.MM.dd">
                            </p:calendar>
                        </p:overlayPanel>
                    </div>



                </div>

            </div>
            </h:form>


            <ui:repeat var="flat" value="#{flatJsfService.getListOfFlats()}" varStatus="status" >
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-sm-4">

                            <p:imageSwitch effect="fade" >
                                <ui:repeat value="#{fileJsfService.getImages(flat.id)}" var="idd">

                                    <p:graphicImage  value="#{fileJsfService.image}"  style="width: 100%;height: auto;">
                                        <f:param name="fileId" id="fileId" value="#{idd}" />
                                    </p:graphicImage>
                                </ui:repeat>
                            </p:imageSwitch>


                        </div>

                        <div class="col-sm-8 ">
                            <div class="flat-list">

                                <div class="list-header">
                                        <h:commandLink value="#{flat.title}." action="#{flatJsfService.openFlatPage(flat.id)}" ></h:commandLink>

                                        <!--                                                <h:link value="#{flat.title}." outcome="#{flatJsfService.openFlatPage(flat.id)}"></h:link>-->
                                    <br></br>
                                    <p>Address: #{flat.address}</p>
                                </div>
                                <div class="list-content">
                                    <p>Details : #{flat.details}</p>
                                    <p class="list-normalPrice">Price of Flat: #{flat.normalPrice}</p>
                                    <br/>
                                    <p class="list-numberOfRooms">Number of rooms: #{flat.numberOfRooms}</p>
                                    <br/>
                                    <p class="list-numberOfRooms">Number of beds: #{flat.numberOfBeds}</p>
                                    <br/>
                                    <p class="list-furnished">Flat is furnished or not: #{flat.furnished}</p>
                                    <br/>
                                    <p class="list-renovated">Flat is renovated or not: #{flat.renovated}</p>
                                    <br/>
                                    <p class="list-internetSpeed">Flat has wifi or not:#{flat.wifi}</p>

                                </div>
                                <div class="list-footer">
                                    <span class="list-footer-total">Total price of Flat: #{flat.normalTotal}</span>
                                    <span class="list-footer-utilitie">Utilities of Flat: #{flat.normalUtilities}</span>
                                </div>

                            </div>

                            <p:commandButton value = "Add to Favourite" rendered="#{pageJsfService.isConsumer()=='true'}" action="#{consumerJsfService.addFlatToFavouriteList(flat.id)}"  />

                        </div>
                    </div>

                </div>

            </ui:repeat>



        </ui:define>
    </ui:composition>
</h:body>
</html>
