<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <link href="/resources/css/style.css" rel="stylesheet" type="text/css" />

    <link href="/resources/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</h:head>

<h:body>
    <ui:composition template="layout.xhtml">

        <ui:define name="script"><h:outputScript library="js" name="jquery-3.5.1.min.js"/> </ui:define>

        <ui:define name="content">


                #{flatJsfService.loadData(0,10)}
                <ui:repeat var="flat" value="#{flatJsfService.getListOfFlats()}" varStatus="status" >
                        <div class="container-fluid" >
                            <div class="row">
                                <div class="col-sm-4">

                                    <p:imageSwitch effect="fade" >
                                        <ui:repeat value="#{fileJsfService.getImages(flat.id)}" var="idd">

                                            <p:graphicImage  value="#{fileJsfService.image}"  style="width: 100%;height: auto;">
                                                <f:param name="fileId" id="fileId" value="#{idd}" />
                                            </p:graphicImage>
                                        </ui:repeat>
                                    </p:imageSwitch>


                                </div>

                                <div class="col-sm-8 ">
                                    <div class="flat-list">

                                        <div class="list-header">
                                            <h:form>
                                                <h:commandLink value="#{flat.title}." action="#{flatJsfService.openFlatPage(flat.id)}" ></h:commandLink>
                                                <p >Available from : #{flat.availableFrom}</p>
                                            </h:form>
                                            <br></br>
                                            <p>Address: #{flat.address}</p>
                                        </div>
                                        <div class="list-content">
                                            <div class="container">
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <p>Details : #{flat.details}</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="list-normalPrice">Price of Flat: #{flat.normalPrice}</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="list-numberOfRooms">Number of rooms: #{flat.numberOfRooms}</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="list-numberOfRooms">Number of beds: #{flat.numberOfBeds}</p>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <p class="list-furnished">Flat is furnished or not: #{flat.furnished}</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="list-renovated">Flat is renovated or not: #{flat.renovated}</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="list-internetSpeed">Flat has wifi or not:#{flat.wifi}</p>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="list-footer">
                                            <span class="list-footer-total">Total price of Flat: #{flat.normalTotal}</span>
                                            <span class="list-footer-utilitie">Utilities of Flat: #{flat.normalUtilities}</span>
                                        </div>

                                    </div>

                                    <p:commandButton value = "Add to Favourite" rendered="#{pageJsfService.isConsumer()=='true'}" action="#{consumerJsfService.addFlatToFavouriteList(flat.id)}"  />

                                </div>
                            </div>

                        </div>

                </ui:repeat>



        </ui:define>
    </ui:composition>
</h:body>
</html>
